name: Code Quality all

on:
  pull_request:
    paths-ignore:
      - 'apps/docs/**'
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  quality-checks:
    name: Code Quality all
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci --prefer-offline --no-audit --ignore-scripts --no-fund --loglevel error

      - name: Build all internal packages
        run: npm run build -w owox

      - name: ESLint Workspaces
        id: lint_ws
        run: npm run lint
        continue-on-error: true

      - name: ESLint Root
        id: lint_root
        run: npm run lint:root
        continue-on-error: true

      - name: Prettier Workspaces
        id: format_ws
        run: npm run format:check
        continue-on-error: true

      - name: Prettier Root
        id: format_root
        run: npm run format:root:check
        continue-on-error: true

      - name: Markdownlint All
        id: md
        run: npm run lint:md:all
        continue-on-error: true

      - name: CheckSummury
        if: always()
        run: |
          failed=""
          if [ "${{ steps.lint_ws.outcome }}" = "failure" ]; then
            echo "❌ ESLint Workspaces failed"
            failed="true"
            echo "ESLint Workspaces" >> failed.txt
          fi
          if [ "${{ steps.lint_root.outcome }}" = "failure" ]; then
            echo "❌ ESLint Root failed"
            failed="true"
            echo "ESLint Root" >> failed.txt
          fi
          if [ "${{ steps.format_ws.outcome }}" = "failure" ]; then
            echo "❌ Prettier Workspaces failed"
            failed="true"
            echo "Prettier Workspaces" >> failed.txt
          fi
          if [ "${{ steps.format_root.outcome }}" = "failure" ]; then
            echo "❌ Prettier Root failed"
            failed="true"
            echo "Prettier Root" >> failed.txt
          fi
          if [ "${{ steps.md.outcome }}" = "failure" ]; then
            echo "❌ Markdownlint All failed"
            failed="true"
            echo "Markdownlint All" >> failed.txt
          fi
          if [ "$failed" = "true" ]; then
            echo "## Failed checks:" >> $GITHUB_STEP_SUMMARY
            cat failed.txt >> $GITHUB_STEP_SUMMARY
            exit 1
          fi
